.destination {
  display: block;
  width: 100%;
  margin-bottom: 30px; }
  @media (max-width: 991.98px) {
    .destination {
      margin-bottom: 30px; } }
  .destination .img {
    display: block;
    height: 300px; }
  .destination .img-2 {
    height: 200px; }
  .destination .icon {
    width: 60px;
    height: 60px;
    background: #fff;
    opacity: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .destination .icon span {
      color: #000000; }
  .destination:hover .icon {
    opacity: 1; }
  .destination .text {
    border: 1px solid #e6e6e6;
    border-top: 1px solid transparent;
    background: #fff; }
    .destination .text h3 {
      font-size: 18px; }
      .destination .text h3 a {
        color: #000000; }
    .destination .text span.listing {
      font-size: 14px; }
    .destination .text .rate i {
      font-size: 10px;
      color: #f85959; }
    .destination .text .rate span {
      padding-left: 5px;
      font-size: 10px; }
    .destination .text .one {
      width: calc(100% - 70px); }
    .destination .text .two {
      width: 70px;
      text-align: right; }
      .destination .text .two .price {
        font-weight: 400;
        font-size: 18px;
        color: #2f89fc; }
      .destination .text .two .per-price {
        font-size: 20px;
        line-height: 1.4; }
        .destination .text .two .per-price small {
          font-size: 12px; }
    .destination .text .days span {
      font-size: 13px;
      color: black; }
    .destination .text .bottom-area {
      margin-bottom: 0; }
      .destination .text .bottom-area span {
        font-size: 14px; }
        @media (min-width: 768px) {
          .destination .text .bottom-area span:last-child {
            margin-left: 5px; } }
        .destination .text .bottom-area span:last-child a {
          background: #8bc34a;
          color: #fff;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          padding: 3px 5px; }
          .destination .text .bottom-area span:last-child a:hover {
            background: #8bc34a;
            color: #fff; }


.sidebar-wrap {
  padding: 20px;
  border: 1px solid #e6e6e6;
  margin-bottom: 30px; }
  .sidebar-wrap .heading {
    font-size: 18px;
    text-transform: uppercase; }
  .sidebar-wrap .fields {
    width: 100%;
    position: relative; }
    .sidebar-wrap .fields .form-control {
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      border: transparent;
      background: #fff !important;
      color: #4d4d4d !important;
      border: 1px solid #e6e6e6;
      font-size: 14px;
      width: 100%;
      height: 52px !important;
      padding: 10px 20px;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
      .sidebar-wrap .fields .form-control::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #4d4d4d; }
      .sidebar-wrap .fields .form-control::-moz-placeholder {
        /* Firefox 19+ */
        color: #4d4d4d; }
      .sidebar-wrap .fields .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: #4d4d4d; }
      .sidebar-wrap .fields .form-control:-moz-placeholder {
        /* Firefox 18- */
        color: #4d4d4d; }
    .sidebar-wrap .fields .icon {
      position: absolute;
      top: 50%;
      right: 30px;
      font-size: 14px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      color: rgba(0, 0, 0, 0.7); }
      @media (max-width: 767.98px) {
        .sidebar-wrap .fields .icon {
          right: 10px; } }
    .sidebar-wrap .fields .select-wrap {
      position: relative; }
      .sidebar-wrap .fields .select-wrap select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none; }
  .sidebar-wrap .form-group .btn {
    width: 100%;
    display: block !important;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px; }
  .sidebar-wrap .range-slider {
    width: 100%;
    margin: auto;
    position: relative;
    height: 3em;
    margin-bottom: 30px; }
  .sidebar-wrap .range-slider svg,
  .sidebar-wrap .range-slider input[type=range] {
    position: absolute;
    left: 0;
    bottom: 0; }
  .sidebar-wrap input[type=number] {
    border: 1px solid transparent;
    text-align: center;
    font-size: 14px;
    -moz-appearance: textfield;
    background: transparent;
    position: relative; }
  .sidebar-wrap input[type=number]::-webkit-outer-spin-button,
  .sidebar-wrap input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none; }
  .sidebar-wrap input[type=number]:invalid,
  .sidebar-wrap input[type=number]:out-of-range {
    border: 2px solid #ff6347; }
  .sidebar-wrap input[type=range] {
    -webkit-appearance: none;
    width: 100%; }
  .sidebar-wrap input[type=range]:focus {
    outline: none; }
  .sidebar-wrap input[type=range]:focus::-webkit-slider-runnable-track {
    background: #f85959; }
  .sidebar-wrap input[type=range]:focus::-ms-fill-lower {
    background: #f85959; }
  .sidebar-wrap input[type=range]:focus::-ms-fill-upper {
    background: #f85959; }
  .sidebar-wrap input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #f85959;
    border-radius: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0; }
  .sidebar-wrap input[type=range]::-webkit-slider-thumb {
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 0px 0px 0px #000;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #f85959;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #f85959;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px; }
  .sidebar-wrap input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: #f85959;
    border-radius: 1px;
    box-shadow: none;
    border: 0; }
  .sidebar-wrap input[type=range]::-moz-range-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #f85959;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #f85959;
    cursor: pointer; }
  .sidebar-wrap input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent; }
  .sidebar-wrap input[type=range]::-ms-fill-lower,
  .sidebar-wrap input[type=range]::-ms-fill-upper {
    background: #f85959;
    border-radius: 1px;
    box-shadow: none;
    border: 0; }
  .sidebar-wrap input[type=range]::-ms-thumb {
    z-index: 2;
    position: relative;
    box-shadow: 0px 0px 0px #000;
    border: 1px solid #f85959;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: #f85959;
    cursor: pointer; }

    